DocumentaryLibraryWSClient/src/META-INF/wsdl/localhost_8080/DocumentLibraryWS/DocumentLibraryWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://documentlibrary.url.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://documentlibrary.url.org/">

<xs:element name="Exception" type="tns:Exception"/>

<xs:element name="arret" type="tns:arret"/>

<xs:element name="arretResponse" type="tns:arretResponse"/>

<xs:element name="demarrage" type="tns:demarrage"/>

<xs:element name="demarrageResponse" type="tns:demarrageResponse"/>

<xs:element name="depotDocument" type="tns:depotDocument"/>

<xs:element name="depotDocumentResponse" type="tns:depotDocumentResponse"/>

<xs:element name="generePDF" type="tns:generePDF"/>

<xs:element name="generePDFResponse" type="tns:generePDFResponse"/>

<xs:element name="rechercheDocument" type="tns:rechercheDocument"/>

<xs:element name="rechercheDocumentResponse" type="tns:rechercheDocumentResponse"/>

<xs:element name="retourneDocument" type="tns:retourneDocument"/>

<xs:element name="retourneDocumentResponse" type="tns:retourneDocumentResponse"/>

<xs:complexType name="arret">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="arretResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="retourneDocument">
<xs:sequence>
<xs:element name="index" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retourneDocumentResponse">
<xs:sequence>
<xs:element name="return" type="xs:base64Binary" nillable="true" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="depotDocument">
<xs:sequence>
<xs:element name="nom" type="xs:string" minOccurs="0"/>
<xs:element name="contenu" type="xs:base64Binary" nillable="true" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="depotDocumentResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rechercheDocument">
<xs:sequence>
<xs:element name="motsCles" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="condition" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rechercheDocumentResponse">
<xs:sequence>
<xs:element name="return" type="tns:documentMap" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="documentMap">
<xs:sequence>
<xs:element name="realMap">
<xs:complexType>
<xs:sequence>
<xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="key" minOccurs="0" type="xs:int"/>
<xs:element name="value" minOccurs="0" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="demarrage">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="demarrageResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="generePDF">
<xs:sequence>
<xs:element name="index" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="generePDFResponse">
<xs:sequence>
<xs:element name="return" type="tns:pdf" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pdf">
<xs:sequence>
<xs:element name="nom" type="xs:string" minOccurs="0"/>
<xs:element name="contenu" type="xs:base64Binary" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>