DocumentaryLibraryWSClient/src/META-INF/wsdl/localhost_8080/DocumentLibraryWS/DocumentLibraryWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://documentlibrary.url.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://documentlibrary.url.org/" name="DocumentLibraryWS">
<types>
<xsd:schema>
<xsd:import namespace="http://documentlibrary.url.org/" schemaLocation="http://localhost:8080/DocumentLibraryWS/DocumentLibraryWS?xsd=1"/>
</xsd:schema>
</types>
<message name="demarrage">
<part name="parameters" element="tns:demarrage"/>
</message>
<message name="demarrageResponse">
<part name="parameters" element="tns:demarrageResponse"/>
</message>
<message name="depotDocument">
<part name="parameters" element="tns:depotDocument"/>
</message>
<message name="depotDocumentResponse">
<part name="parameters" element="tns:depotDocumentResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="rechercheDocument">
<part name="parameters" element="tns:rechercheDocument"/>
</message>
<message name="rechercheDocumentResponse">
<part name="parameters" element="tns:rechercheDocumentResponse"/>
</message>
<message name="retourneDocument">
<part name="parameters" element="tns:retourneDocument"/>
</message>
<message name="retourneDocumentResponse">
<part name="parameters" element="tns:retourneDocumentResponse"/>
</message>
<message name="generePDF">
<part name="parameters" element="tns:generePDF"/>
</message>
<message name="generePDFResponse">
<part name="parameters" element="tns:generePDFResponse"/>
</message>
<message name="arret">
<part name="parameters" element="tns:arret"/>
</message>
<message name="arretResponse">
<part name="parameters" element="tns:arretResponse"/>
</message>
<portType name="DocumentLibraryWS">
<operation name="demarrage">
<input wsam:Action="http://documentlibrary.url.org/DocumentLibraryWS/demarrageRequest" message="tns:demarrage"/>
<output wsam:Action="http://documentlibrary.url.org/DocumentLibraryWS/demarrageResponse" message="tns:demarrageResponse"/>
</operation>
<operation name="depotDocument">
<input wsam:Action="http://documentlibrary.url.org/DocumentLibraryWS/depotDocumentRequest" message="tns:depotDocument"/>
<output wsam:Action="http://documentlibrary.url.org/DocumentLibraryWS/depotDocumentResponse" message="tns:depotDocumentResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://documentlibrary.url.org/DocumentLibraryWS/depotDocument/Fault/Exception"/>
</operation>
<operation name="rechercheDocument">
<input wsam:Action="http://documentlibrary.url.org/DocumentLibraryWS/rechercheDocumentRequest" message="tns:rechercheDocument"/>
<output wsam:Action="http://documentlibrary.url.org/DocumentLibraryWS/rechercheDocumentResponse" message="tns:rechercheDocumentResponse"/>
</operation>
<operation name="retourneDocument">
<input wsam:Action="http://documentlibrary.url.org/DocumentLibraryWS/retourneDocumentRequest" message="tns:retourneDocument"/>
<output wsam:Action="http://documentlibrary.url.org/DocumentLibraryWS/retourneDocumentResponse" message="tns:retourneDocumentResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://documentlibrary.url.org/DocumentLibraryWS/retourneDocument/Fault/Exception"/>
</operation>
<operation name="generePDF">
<input wsam:Action="http://documentlibrary.url.org/DocumentLibraryWS/generePDFRequest" message="tns:generePDF"/>
<output wsam:Action="http://documentlibrary.url.org/DocumentLibraryWS/generePDFResponse" message="tns:generePDFResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://documentlibrary.url.org/DocumentLibraryWS/generePDF/Fault/Exception"/>
</operation>
<operation name="arret">
<input wsam:Action="http://documentlibrary.url.org/DocumentLibraryWS/arretRequest" message="tns:arret"/>
<output wsam:Action="http://documentlibrary.url.org/DocumentLibraryWS/arretResponse" message="tns:arretResponse"/>
</operation>
</portType>
<binding name="DocumentLibraryWSPortBinding" type="tns:DocumentLibraryWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="demarrage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="depotDocument">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="rechercheDocument">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retourneDocument">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="generePDF">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="arret">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="DocumentLibraryWS">
<port name="DocumentLibraryWSPort" binding="tns:DocumentLibraryWSPortBinding">
<soap:address location="http://localhost:8080/DocumentLibraryWS/DocumentLibraryWS"/>
</port>
</service>
</definitions>